<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <link rel="stylesheet" type="text/css" href="maps.css">
  </head>
  <body>
    <!-- Nav -->
    <nav class="uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Lemma</a>
        <ul class="uk-navbar-nav">
          <li>
            <%= link_to "My Account", edit_user_registration_path %>
          </li>
        </ul>
        <div class="uk-navbar-item">
          <div>Some <a href="#">Link</a></div>
        </div>
        <div class="uk-navbar-item">
          <form action="javascript:void(0)">
            <input class="uk-input uk-form-width-small" type="text" placeholder="search nearby">
            <button class="uk-button uk-button-default">Search</button>
          </form>
        </div>
      </div>
      <div class="uk-navbar-right">
        <div class="row hide align:right adapt-medium:show">
          <button class="button:light" uk-toggle="target: #offcanvas-reveal " uk-navbar-toggle-icon></button>
          <div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true; flip: true">
            <div class="uk-offcanvas-bar">
              <button class="uk-offcanvas-close" type="button" uk-close></button>
              <%= link_to "Sign out", destroy_user_session_path, :method => 'delete', :class=> "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"%>
            </div>
          </div>
        </nav>
        <br>
        <!--Users of knowledge -->
        <div class="uk-container-large">
          <% @users = User.all %>
          <% @users.each do |user| %>
            <%= user.first_name%>
            <%= user.last_name %>
            <%= user.field_of_knowledge.each do |f|%>
              <%= f %>
            <% end %>
          </br></br>
      <% end %>
    </div>
  </body>
</html>
